//Stile für Text- und Bildergalerie
.textpic-item .textpic-gallery {
  width: 50px;
  height: auto;
}

//mehr lesen button gestyled
.btn-read-more {
  background-color: #FA8F3B;
  border-color: #FA8F3B;
  text-transform: uppercase;
}

//Zentriert den Text innerhalb der Listengruppenelemente
.list-group-item{
  text-align: center;
}

//Styling für einzelne Elemente in der Nachrichtenliste
.news-list-item{
  box-shadow: 0 3px 20px rgba(0,0,0,0.160784);
  border: 2px;
  border-color:  rgba(226, 219, 190, 1);
  margin-bottom:30px;
  padding: 20px;
  background-color: white;
}

//Passt das Styling für die gesamte Listengruppe an
.list-group{
  --bs-list-group-border-color: transperent !important;
  --bs-list-group-bg: transparent;
}

#frame-backgroundimage-c132{
  height: 50px;
  width: 1248px;
}
