

.textpic-item .textpic-gallery {
  width: 50px;
  height: auto;
}
/*
.news-list-view {
  color: #FA8F3B;
}

.btn-read-more {
  background-color: #FA8F3B !important;
  border-color: #FA8F3B;
}


.list-group-item{
  text-align: center;
}

.news-list-item{
  box-shadow: 0 3px 20px rgba(0,0,0,0.160784);
  border: 2px;
  border-color:  rgba(226, 219, 190, 1);
  margin-bottom:30px;
  padding:20px;
}

.list-group {
  --bs-list-group-border-color: transperent !important;
}*/

.btn-read-more {
  background-color: #FA8F3B;
  border-color: #FA8F3B;
}

.list-group-item{
  text-align: center;
}

.news-list-item{
  box-shadow: 0 3px 20px rgba(0,0,0,0.160784);
  border: 2px;
  border-color:  rgba(226, 219, 190, 1);
  margin-bottom:30px;
  padding: 20px;
  background-color: white;
}

.list-group{
  --bs-list-group-border-color: transperent !important;
  --bs-list-group-bg: transparent;
}

//Schrift
.btn-read-more{
  text-transform: uppercase;
}

#frame-backgroundimage-c132{
  height: 50px;
  width: 1248px;
}