//navigation Strich
.navbar-mainnavigation .nav-link:not(.nav-link-toggle):before{
  background-color:#FA8F3B;
}

//Hintergrundfarbe des Headers
#page-header {
  background-color: white !important;
}

//header
.#frame-backgroundimage-c136{
  height: 150px;
}
