//navigation Strich
.navbar-mainnavigation .nav-link:not(.nav-link-toggle):before{
  background-color:#FA8F3B;
}

//Hintergrundfarbe des Headers
#page-header {
  background-color: white !important;
}

//header
.#frame-backgroundimage-c136{
  height: 150px;
}

//"Anmelden"
#nav-item-10{
  color: #FA8F3B;
}

.nav-link nav-link-main{
  //Klasse von dem Text Anmelden in der navbar
}