//footer

.footer-section-meta{
  background-color: #D4A373;
  height: fit-content;
}

.footer-copyright {
  background-color: #D4A373;
}

.footer-section-content{
  background-color: #D4A373;
}


//hintergund beige
.frame-background-primary {
  --frame-background: #F5F5DC;
  color: black;
}

//buttons
.btn-primary{
  background-color: #FA8F3B;
  border-color: #FA8F3B;
  color: black;
}

//navigation
.navbar-mainnavigation .nav-link:not(.nav-link-toggle):before{
  background-color:#FA8F3B;
}

//header
.frame-backgroundimage-container{
  height: 150px;
}


//slider
.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-color: #FA8F3B;
}

.swiper-pagination-bullet-active{
  --swiper-pagination-color: #FA8F3B;
  --swiper-pagination-bullet-opacity: 1;
}



//Produkte text
.frame-inner{
  color: black;
}

.textpic-item textpic-gallery {
  width: 50px;
  height: auto;
}

.frame a[class="list-group-item"], .frame a:not([class]) {
  color: #FA8F3B;
}